<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <span><%= "This makes sure it is preprocessed" %></span>
    <div id="test"></div>
    <script> //to be removed </script>
  </body>
</html>

