<!DOCTYPE html>
<html>
  <head>
    <script>
      //to be removed
    </script>
  </head>
  <body>
    <span><%= "This makes sure it is preprocessed" %></span>
    <div id="test"></div>
  </body>
</html>
